<div class="form">
  <h1>New Post</h1>
  <form>
    <div class="form-group">
      {{input value=author id="author" placeholder="Author"}}
    </div>

    <div class="form-group">
      {{input value=title id="title" placeholder="Title"}}
    </div>

    <div class="form-group">
      {{input value=genre id="genre" placeholder="Genre"}}
    </div>

    <div class="form-group">
      {{input value=content id="content" placeholder="Content"}}
    </div>

    <div class="form-group">
      {{input value=image id="image" placeholder="Image"}}
    </div>

    <div class="form-group">
      {{input value=date id="date" placeholder="Date"}}
    </div>

    <button {{action 'save' post}}>Submit</button>
  </form>
</div>
