<div class="blogPost container">
  <h2>Blog Posts</h2>
  <div class="singlePost col-md-6">
    <ul>
      {{#each model as |post|}}
      <h3>{{post.title}}</h3>
      <h4>{{post.genre}}</h4>
      <img src={{post.image}}>
      <p>{{post.content}}</p>
      <p>Posted by {{post.author}} on {{post.date}}</p>
      {{/each}}
    </ul>
  </div>

  <div class="newPost col-md-6">
    {{new-post save="save"}}
  </div>



</div>
