<h1 class="header jumbotron">{{model.title}}</h1>
<div class="container postPage col-md-6">
  <img src={{model.image}}>
  <div id="textBox">
    <h2>Movie Info</h2>
    <h3>{{model.genre}}</h3>
    <h4>{{model.content}}</h4>
    <p>Posted by {{model.author}} on {{model.date}}</p>
    <br>
  </div>
</div>

  <div class="commentDiv col-md-6">
    <h2>Add a Comment</h2>
    {{new-comment post=model saveComment="saveComment"}}
    <div class="comments">
      {{comment-detail comments=model.comments saveComment="saveComment"}}
    </div>
  </div>
