
<div class="container postPage col-md-6">
  <h2>{{model.title}}</h2>
  <h3>{{model.genre}}</h3>
  <img src={{model.image}}>
  <h4>{{model.content}}</h4>
  <p>Posted by {{model.author}} on {{model.date}}</p>
  <br>

</div>
  <div class="col-md-6">
    <h2>Add a Comment</h2>
    {{new-comment post=model saveComment="saveComment"}}
    <div class="comments">
      {{comment-detail comments=model.comments saveComment="saveComment"}}
    </div>
  </div>
