
<div class="container postPage">
  <h3>{{model.title}}</h3>
  <h4>{{model.genre}}</h4>
  <img src={{model.image}}>
  <p>{{model.content}}</p>
  <p>Posted by {{model.author}} on {{model.date}}</p>
  <br>
  <h2>Comments</h2>

  {{new-comment}}

  <ul>
    {{#each model as |comment|}}
      <p>{{comment.name}}</p>
      <p>{{comment.message}}</p>
      <p>{{comment.date}}</p>
    {{/each}}
  </ul>
</div>
